@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

:root {
    /* colors */
    --bg: #fff6f1;
    --text: #3a3a3a;
    --highlight: #df7861;
    --about: #94b49f;
    --active: #b4604e;
    --button: #ecb390;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

    color: var(--text);
    background-color: var(--bg);

    height: 100%;
    max-width: 100%;
    letter-spacing: 1px;

    display: grid;
    grid-template-rows: 8vh 92vh;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--highlight);
}

.highlight {
    color: var(--highlight);
}

/* Header */

header {
    width: 100%;
    height: 8vh;
    z-index: 99;
}

/* headings and logo */

.logo {
    float: left;
    font-weight: 900;
    font-size: 130%;
    margin-left: 35px;
    text-transform: capitalize;
}

.logo img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-bottom: 5px;
}

/* navigation links */

nav {
    font-size: 90%;
    letter-spacing: 3px;
    margin-right: 5px;
}

nav, .logo {
    line-height: 75px;
}

nav ul{
    float: right;
}

nav li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

nav a:hover {
    color: var(--active);
}

nav .active {
    color: var(--active);
} 

/* Footer */

footer {
    width: 100%;
    height: 30px;
    background: transparent;
    position: fixed;
    bottom: 0;
}

footer p {
    color: var(--text);
    font-size: 80%;
    float: right;
    margin-right: 20px;
}

/* Home Page */

#landing {
    width: 100%;
    height: 100%;

    background: url('../images/homepage.webp') no-repeat center center;
    background-size: 100% 100%;
}

#landing > article {
    text-align: center;
    transform: translateY(20vh);
}

#landing h1 {
    font-size: 6vw;
    padding-right: 15vw;
}

#landing span {
    padding-left: 25vw;
}

#landing p {
    font-size: 2vw;
}

/* Call to action 
   button style from https://getcssscan.com/css-buttons-examples 
*/
.btn {
    margin-top: 2vh;
    width: 15vw;
    background-color: var(--button);
    border: 2px solid var(--text);
    border-radius: 30px;
    box-shadow: var(--text) 4px 4px 0 0;
    color: var(--text);
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 1.2vw;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
} 
  
.btn:hover {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

/* About */

#about {
    width: 100%;
    height: 100%;

    color: var(--bg);
    background-color: var(--about);
}

#about h1 {
    transform: translateX(8vw) translateY(15vh);
    font-size: 4vw;
}

#about span {
    font-weight: 800;
}

#about p {
    width: 55vw;
    padding: 0 5vw;
    float: right;
    font-size: 1.5vw;
    border-left: 2px solid var(--bg);
    transform: translateY(20vh);
}

/* Library */

.page-title {
    font-size: 1.4vw;
    transform: translateX(5vw) translateY(3vh);
    text-transform: capitalize;
}

#shelve {
    width: 100vw;
    margin-top: 1.5vh;
    overflow-y: visible;
    transform: translateX(1.5vw)
}

.book {
    padding-top: 3vh;
    overflow-y: visible;
    overflow-x: visible;
    z-index: 99;
    clear: both;
    vertical-align: top;
    width: 12vw;
    display: inline-block;
    margin: 2vh 2vw;
}

.book img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.book img:hover {
    transform: scale(1.1) translateY(-2vh); 
}

.book h1 {
    font-size: 1vw;
}

.book h2 {
    font-size: 1vw;
    color: var(--active);
}

/* Fieldset */

fieldset {
    overflow-x: visible;
    float: left;
    margin: 5vh 4vw;
	display: grid;
    gap: 5px;
    grid-template-columns: 10vw 10vw 10vw 10vw;
}

fieldset legend {
    padding-left: 1.5vw;
    font-size: 1.2vw;
    text-transform: uppercase;
    font-weight: 800;
}

fieldset a {
    width: auto;
    background-color: var(--button);
    border-radius: 10px;
    text-align: center;
    padding: 2vh 0;
    margin: 1%;
} 

fieldset a:hover {
    transform: scale(1.2);
    color: var(--text);
    background-color:  var(--about);
    font-weight: 800;
} 

.h-gen {
    grid-column: 2 / span 3;
}

.v-gen {
    grid-column: 1 ;
    grid-row: 1 / span 2;
    padding-top: 5.5vh;
}

.h-mood {
    grid-column: 1 / span 3;
}

.v-mood {
    grid-column: 4 ;
    grid-row: 1 / span 2;
    padding-top: 5.5vh;
}

/* Book */

.go-back {
    transform: translateX(5vw) translateY(5vh);
    font-weight: 400;
    font-size: 1vw;
    z-index: 99;
}

#book-details {
    margin-top: 3vh;
}

.open-book {
    margin: 5vh 5vw;
    display: grid;
    gap: 0 5vw;
    grid-template-columns: 20vw 65vw;
    grid-template-rows: min-content min-content;
}

.open-book img {
    width: 20vw;
    border-radius: 5px;

    grid-column: 1;
}

.open-book .btn {
    width: 15vw;
    height: 7vh;
    margin: 1vh auto;
    grid-column: 1;
    grid-row: 2 / span 1;
}

.open-book div {
    display: inline;
    grid-column: 2;
    grid-row: 1 / span 2;
    height: fit-content;
    max-height: 60vh;
}

.open-book h1 {
    font-size: 2vw;
}

.open-book h2 {
    font-size: 1.5vw;
}

.open-book p {
    grid-column: 2;
    grid-row: 1;
    text-align: justify;
    margin-top: 10vh;
    line-height: 1.4;
    font-size: 1.05vw;
    overflow-y: scroll;
    grid-row: 1 / span 2;
    max-height: 50vh;
}

/* Book render */

#render {
    display: none;
    margin-bottom: 2vh;
}

#close-render {
    font-size: 2vw;
    font-weight: bold;
    float: right;
    margin-right: 2vw;
    z-index: 99;
}

#close-render:hover {
    opacity: 0.8;
}

.arrow {
    position: absolute;
    top: 50%;
    margin-top: -32px;
    font-size: 3vw;
    font-weight: bold;
    cursor: pointer;
    z-index: 99;
}

.arrow:hover {
    opacity: 0.8;
}

.next {
    right: 2vw;
}

.prev {
    left: 2vw;
}




