@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

:root {
    /* colors */
    --bg: #fff6f1;
    --text: #3a3a3a;
    --highlight: #df7861;
    --about: #94b49f;
    --active: #b4604e;
    --button: #ecb390;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

    color: var(--text);
    background-color: var(--bg);

    height: 100vh;
    letter-spacing: 1px;

    display: grid;
    grid-template-rows: 7vh 93vh;
}

.highlight {
    color: var(--highlight);
}

/* Header */

header {
    width: 100%;
    height: 7vh;
}

header a {
    text-decoration: none;
    color: inherit;
}

/* headings and logo */

.logo {
    float: left;
    font-weight: 900;
    font-size: 130%;
    margin-left: 35px;
    text-transform: capitalize;
}

.logo img {
    width: 40px;
    height: auto;
    vertical-align: middle;
    margin-bottom: 5px;
}

/* navigation links */

nav {
    font-size: 90%;
    letter-spacing: 3px;
    margin-right: 5px;
}

nav, .logo {
    line-height: 75px;
}

nav ul{
    float: right;
}

nav li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

nav a:hover {
    color: var(--active);
}

nav .active {
    color: var(--active);
} 

/* Footer */

footer {
    width: 100%;
    height: 30px;
    background: transparent;
    position: fixed;
    bottom: 0;
}

footer p {
    color: var(--text);
    font-size: 80%;
    float: right;
    margin-right: 20px;
}

/* Home Page */

#landing {
    width: 100%;
    height: 100%;

    background: url('../images/homepage.webp') no-repeat center center;
    background-size: 100% 100%;
}

#landing > article {
    text-align: center;
    transform: translateY(20vh);
}

#landing h1 {
    font-size: 6vw;
    padding-right: 15vw;
}

#landing span {
    padding-left: 25vw;
}

#landing p {
    font-size: 2vw;
}

/* Call to action 
   button style from https://getcssscan.com/css-buttons-examples 
*/
#landing a {
    margin-top: 2vh;
    width: 10vw;
    background-color: var(--button);
    border: 2px solid var(--text);
    border-radius: 30px;
    box-shadow: var(--text) 4px 4px 0 0;
    color: var(--text);
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
} 
  
#landing a:hover {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

/* About */

#about {
    width: 100%;
    height: 100%;

    color: var(--bg);
    background-color: var(--about);
}

#about h1 {
    transform: translateX(8vw) translateY(15vh);
    font-size: 4vw;
}

#about span {
    font-weight: 800;
}

#about p {
    width: 55vw;
    padding: 0 5vw;
    float: right;
    font-size: 1.5vw;
    border-left: 2px solid var(--bg);
    transform: translateY(20vh);
}

